@charset "UTF-8";
@media (min-width: 320px) {
  html {
    font-size: 17.06666667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 19.2px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 20.48px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 21.33333333px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 22.08px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 22.61333333px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 25.6px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 28.8px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 34.13333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 38.4px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 40px;
  }
}
header {
  color: #fff;
  text-align: center;
  background-color: #f4483e !important;
}
header .back a {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.75rem;
  color: #fff;
}
header h3 {
  height: 2.5rem;
  line-height: 2.5rem;
  overflow: hidden;
}
.main {
  padding-top: 0.5rem;
}
.main li {
  float: left;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.main li a {
  width: 5.75rem;
  height: 3.75rem;
  padding-top: 0.25rem;
  background-color: #fff;
  display: block;
  text-align: center;
  border: 0.025rem solid #ccc;
  font-size: 0.45rem;
  font-weight: 700;
}
.main li a img {
  width: 2.625rem;
  height: 2.625rem;
}
