@charset "UTF-8";
@import "variable";
@import "adaptor";

.nav {
  height: 75rem/@baseSize;
  line-height: 75rem/@baseSize;
  padding-left: 20rem/@baseSize;
  border-top: 1rem/@baseSize solid #ccc;
  background-image: linear-gradient(#fff,#ddd);
  font-size: 26rem/@baseSize;
}
.hot {
  margin: 20rem/@baseSize;
  border: 1rem/@baseSize solid #ccc;
  color: peru;
  height: 80rem/@baseSize;
  line-height: 80rem/@baseSize;
  text-align: center;
}
.brand_list {
  li {
    height: 120rem/@baseSize;
    background-color: #fff;
    font-size: 24rem/@baseSize;
    padding: 20rem/@baseSize;
    border-bottom: 1rem/@baseSize solid #ccc;
    .num {
      width: 40rem/@baseSize;
      height: 40rem/@baseSize;
      line-height: 40rem/@baseSize;
      background-color: #c9c9c9;
      text-align: center;
      color: #fff;
    }
    &:first-child .num{
      background-color: red;
    }
    &:nth-child(2) .num{
      background-color: orange;
    }
    &:nth-child(3) .num{
      background-color: greenyellow;
    }
    .info {
      margin-left: 60rem/@baseSize;
      position: relative;
      background: url("../images/right.svg") no-repeat center;
      background-size: 145rem/@baseSize 145rem/@baseSize;
      p {
        font-weight: 700;
      }
      span {
        color: #666;
      }
      &::after {
        content: '';
        position: absolute;
        width: 50rem/@baseSize;
        height: 50rem/@baseSize;
        top: 10rem/@baseSize;
        right: 0;
        background: url("../images/arrow-right.svg") no-repeat center;
        background-size: 50rem/@baseSize 50rem/@baseSize;
      }
    }
  }
}
.product-list {
  li {
    height: 235rem/@baseSize;
    padding: 15rem/@baseSize;
    border-bottom: 1rem/@baseSize solid #e5e5e5;
    background-color: #fff;
    img {
      width: 200rem/@baseSize;
      height: 200rem/@baseSize;
    } 
    .desc {
      overflow: hidden;
      background-color: #fff;
      padding-left: 10rem/@baseSize;
      .info {
        height: 100rem/@baseSize;
        line-height: 40rem/@baseSize;
        font-size: 26rem/@baseSize;
      }
      .price {
        font-size: 30rem/@baseSize;
        color: red;
        .start {
          color: purple;
        }
      }
      .other {
        font-size: 20rem/@baseSize;
        color: #99969b;
      }
    }
  }
}
.com-lists {
  background-color: #fff;
  li {
    padding: 20rem/@baseSize;
    border-bottom: 1rem/@baseSize solid #ccc;
    .top {
      height: 160rem/@baseSize;
      img {
        width: 160rem/@baseSize;
        height: 150rem/@baseSize;
        margin-right: 20rem/@baseSize;
      }
      p {
        font-size: 24rem/@baseSize;
        color: #ccc;
      }
    }
    .down {
      border: 1rem/@baseSize solid #ccc;
      padding: 20rem/@baseSize;
      position: relative;
      p {
        font-size: 24rem/@baseSize;
        .start {
          color: tomato;
        }
      }
      .name {
        margin-bottom: 10rem/@baseSize;
        color: #666;
      }
      &::before {
        content: "";
        width: 20rem/@baseSize;
        height: 20rem/@baseSize;
        position: absolute;
        top: -10rem/@baseSize;
        left: 45rem/@baseSize;
        transform: rotate(45deg);
        border-top: 1rem/@baseSize solid #ccc;
        border-left: 1rem/@baseSize solid #ccc;
        background-color: #fff;
      }
    } 
  }
}